/.ipynb_checkpoints
/node_modules
/revision/js/vue.js
/revision/js/vue.min.js
/revision/css/normalize.css
/revision/css/skeleton.css
/revision/css/font-awesome/
/revision/data/bbtables.json
.DS_Store
revision/node_modules/
revision/vue-experiments/
texworking/node_modules/
texworking/output.pdf
