<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
          

        <title>Paul Gowder</title> 
    </head>
    <body>
        <div class="container" id="app">
            <img :src="headshotURL" >
        <div id="navbox">
            <bignav></bignav>


            </div>

                <p><bio v-if="toggles.bio"></bio></p>

            <!-- <p><button v-on:click="toggle('pubs')">toggle pubs</button></p>
               -->
        <div id="pubtitles" style="margin-top:5%;" v-if="toggles.pubs">
        <h3>Books</h3>
            <ol>
                <li v-for="book in publications" v-if="book.type === 'book'">
                    {{ book.title }}
                </li></ol>

            <h3>Articles</h3>
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Citation</th>
                        <th>Year</th>
                        <th>options</th>
                    </tr>
                </thead>
                    <tbody>

                        <tr is="articlerow" v-for="art in articles" v-bind:art="art" v-bind:key="art.title"></tr>


                    </tbody></table>

                        </tr>

                    
                    <p>
                        <a :href="bturl" download="gowder.bib">download bibtex</a>
                    </p>

        </div>


        </div>
        <script src="/dist/build.js"></script>
    </body>
</html>






    
