<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
          

        <title>Paul Gowder</title> 
    </head>
    <body>
        <div class="container" id="app">
           
        <div id="navbox">
            <component :is="currentView"></component>


            </div>

                <p><bio v-if="toggles.bio"></bio></p>

        <div id="pubtitles"  v-if="toggles.pubs">
 
        </div>


        </div>
        <script src="/dist/build.js"></script>
    </body>
</html>






    
