 <!DOCTYPE html>
<html lang="en">

<head><title>Paul Gowder: C.V.</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="http://fonts.googleapis.com/css?family=Abel" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="code/cv/normalize.css">
<link rel="stylesheet" href="code/cv/skeleton2.css">
</head><body onload=' location.href="#top" '>
<a class="button tooltip" href="#top" style="position:fixed;">top<span>back to top</span></a><br><br>
<a class="button tooltip" href="#pubs" style="position:fixed;">pub<span>publications</span></a><br><br>
<a class="button tooltip" href="#awards" style="position:fixed;">awd<span>awards</span></a><br><br>
<a class="button tooltip" href="#pres" style="position:fixed;">prs<span>presentations</span></a><br><br>
<a class="button tooltip" href="#law" style="position:fixed;">law<span>law practice</span></a><br><br>
<a class="button tooltip" href="#teach" style="position:fixed;">tch<span>teaching</span></a><br><br>
<a class="button tooltip" href="#service" style="position:fixed;">svc<span>service</span></a><br><br>
<a class="button tooltip" href="{{basics.cvurl}}" style="position:fixed;">pdf</a>
<div class="container">
<div class="row">


<div class="five columns" style="margin-top: 5%">
<h1 id="top"><a href="http://paul-gowder.com">Paul Gowder</a></h1>
</div>
<div class="seven columns" style="margin-top: 6%">
<table class="u-full-width" style="border-bottom: 0px; padding: 0px 2px">
<tr style="background: none;">
<td style="border: none; padding: 2px 5px;">{{basics.addr1}}</td>
<td style="border: none; padding: 2px 5px;"><a href="mailto:{{basics.email}}">{{basics.email}}</a></td>
</tr><tr>
<td style="padding: 2px 5px;">{{basics.addr2}}</td>
<td style="padding: 2px 5px;">{{basics.phone}} ({{basics.phoneid}})</td>
</tr></table></div></div>

<div class="row">
<div class="twelve columns">
<h3>Academic Positions</h3>
<table class="u-full-width"><thead><tr><th>University</th><th>Title</th><th>Dates</th></thead><tbody>

{% for position in positions %}
<tr><td>
{{position.university}}
</td><td>
{{position.title}}
</td><td>
{{position.year}}
</td></tr>
{% endfor %}
</tbody></table>


<h3>Education</h3>
<table class="u-full-width"><thead><tr><th>University</th><th>Degree</th><th>Year</th></thead><tbody>

{% for school in schools %}
<tr><td>
{{school.name}}
</td><td>
{{school.degree}}
</td><td>
{{school.year}}
</td></tr>
{% endfor %}
</tbody></table>



<h3 id="pubs">Publications</h3>
<h5>Books</h5>
<table class="u-full-width"><thead><tr><th>Title</th><th>Publisher</th><th>Year</th></thead><tbody>
{% for book in books %}
<tr><td>
{{book.title}}
</td><td>
{{book.publisher}}
</td><td>
{{book.year}}
</td></tr>
{% endfor %}
</tbody></table>


<h5>Peer Reviewed Articles</h5>
<table class="u-full-width"><thead><tr><th>Title</th><th>Journal</th><th>Citation</th><th>Year</th></tr></thead><tbody>
{% for prart in prarts %}
<tr>
<td>
{{prart.title}}
</td><td>
{{prart.journal}}
</td><td>
{{prart.cite}}
</td><td>
{{prart.year}}
</td></tr>
{% endfor %}
</tbody></table>

<h5>Law Review Articles</h5>
<table class="u-full-width"><thead><tr><th>Title</th><th>Journal</th><th>Citation</th><th>Year</th></tr></thead><tbody>
{% for lrart in lrarts %}
<tr>
<td>
{{lrart.title}}
</td><td>
{{lrart.journal}}
</td><td>
{{lrart.cite}}
</td><td>
{{lrart.year}}
</td></tr>
{% endfor %}
</tbody></table>


<h5>Book Chapters</h5>
<table class="u-full-width"><thead><tr><th>Title</th><th>Book</th><th>Pages</th><th>Year</th></tr></thead><tbody>
{% for chapter in chapters %}
<tr><td>
{{chapter.title}}
</td>
<td>
{{chapter.editors}}, eds., <em>{{chapter.book}}</em> ({{chapter.publisher}})
</td><td>
{{chapter.pages}}
</td><td>
{{chapter.year}}
</td></tr>
{% endfor %}
</tbody></table>

<h5>Miscellany</h5>
<table class="u-full-width"><thead><tr><th>Title</th><th>Description</th><th>Year</th></thead><tbody>
{% for misc in miscpubs %}
<tr><td>
{{misc.title}}
</td><td>
{{misc.description}}
</td><td>
{{misc.year}}
</td></tr>
{% endfor %}
</tbody></table>

<h3 id="awards">Grants, Awards and Honors</h3>
<table class="u-full-width"><thead><tr><th>Award</th><th>Year</th></thead><tbody>
{% for award in awards %}
<tr><td>
{{award.name}}
</td><td>
{{award.year}}
</td></tr>
{% endfor %}
</tbody></table>

<h3 id="pres">Presentations</h3>

<h5>Invited Talks</h5>
<table class="u-full-width"><thead><tr><th>Venue</th><th>Title</th><th>Year</th></thead><tbody>
{% for invitedpres in invited %}
<tr><td>
{{invitedpres.venue}}
</td><td>
{{invitedpres.title}}
</td><td>
{{invitedpres.year}}
</td></tr>
{% endfor %}
</tbody></table>


<h5>Conference Presentations</h5>
<table class="u-full-width"><thead><tr><th>Venue</th><th>Title</th><th>Year</th></thead><tbody>
{% for conference in conferences %}
<tr><td>
{{conference.venue}}
</td><td>
{{conference.title}}
</td><td>
{{conference.year}}
</td></tr>
{% endfor %}
</tbody></table>

<h5>Campus Talks</h5>
<table class="u-full-width"><thead><tr><th>Venue</th><th>Title</th><th>Year</th></thead><tbody>
{% for ctalk in campus %}
<tr><td>
{{ctalk.venue}}
</td><td>
{{ctalk.title}}
</td><td>
{{ctalk.year}}
</td></tr>
{% endfor %}
</tbody></table>

<h3 id="teach">Teaching</h3>

<h5>Lead Instructor</h5>
<table class="u-full-width"><thead><tr><th>Course</th><th>University</th><th>Dates</th></thead><tbody>
{% for course in courses %}
<tr><td>
{{course.title}}
</td><td>
{{course.school}}
</td><td>
{{course.terms}}
</td></tr>
{% endfor %}
</tbody></table>

<h5>Teaching Assistant</h5>
<table class="u-full-width"><thead><tr><th>Course</th><th>University</th><th>Dates</th></thead><tbody>
{% for taship in taships %}
<tr><td>
{{taship.title}}
</td><td>
{{taship.school}}
</td><td>
{{taship.terms}}
</td></tr>
{% endfor %}
</tbody></table>


<h3 id="law">Legal Practice</h3>
<table class="u-full-width"><thead><tr><th>Employer</th><th>Role</th><th>Years</th></thead><tbody>
{% for job in practice %}
<tr><td>
{{job.employer}}
</td><td>
{{job.role}}
</td><td>
{{job.years}}
</td></tr>
{% endfor %}
</tbody></table>


<h3 id="service">Service</h3>
<h5>University Service</h5>
<table class="u-full-width"><thead><tr><th>Role</th><th>Context</th><th>Dates</th></thead><tbody>
{% for userv in uservice %}
<tr><td>
{{userv.role}}
</td><td>
{{userv.context}}
</td><td>
{{userv.dates}}
</td></tr>
{% endfor %}
</tbody></table>

<h5>Disciplinary Service</h5>
<table class="u-full-width"><thead><tr><th>Role</th><th>Dates</th></thead><tbody>
{% for dserv in dservice %}
<tr><td>
{{dserv.role}}
</td><td>
{{dserv.dates}}
</td></tr>
{% endfor %}
</tbody></table>

<h5>Community Service and Outreach</h5>
<table class="u-full-width"><thead><tr><th>Role</th><th>Dates</th></thead><tbody>
{% for cserv in cservice %}
<tr><td>
{{cserv.activity}}
</td><td>
{{cserv.dates}}
</td></tr>
{% endfor %}
</tbody></table>


<p><b>Languages</b> <br>
Human:
<br>{% for hlang in humanlang %} {{hlang}}<br> {% endfor %}<br>

Computer:
<br>{% for clang in computerlang %} {{clang}}<br> {% endfor %}</p>

<p><b>Bar Admissions</b> 
<br>{% for bar in bars %} {{bar}}<br> {% endfor %}</p>

<p><b>Other</b>
<br>{% for oth in other %} {{oth}}<br> {% endfor %}</p>

<p><b>Notes</b>
<br>{% for note in notes %} {{note}}<br> {% endfor %}</p>

</div>
</div>
<hr>
Last revised {{basics.revdate}} <br>
<a href="{{basics.url}}">return home</a>
</div>
  </body>
</html>



